{% extends "common/base.html" %}

{% block title %}Book Details{% endblock title %}


{% block content %}
<h1>{{ book.title }}</h1>        
    <br>                                         
    <a href="{% url 'add-review' book.pk %}" class="px-6 py-3 text-blue-100 no-underline bg-blue-500 rounded hover:bg-blue-600 hover:underline hover:text-blue-200">Create a review</a>  
    <br><br>
<ul>
<li>Book author: {{ book.author }}</li>
<li>Book description: {{ book.description }}</li>
<li>Book genre: {{ book.genre }}</li>
    <ul>
        {% for review in book.reviews.all %}
        <li><strong>{{ review.user.username }}</strong>
            <ul>
            <li>
                 gave rating {{ review.rating }}
            </li>
            <li>
                <p>Review: {{ review.review }}</p>
            </li>
            <li>
                <small>Publicated at: {{ review.publication_date }}</small>
            </li>
        </ul>
        </li>
        {% empty %}
        There are no reviews for this book yet.
        {% endfor %}
</ul>
{% endblock content %}